<!doctype html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>

    <title>Ingredient Form</title>
    <meta name="description" content="Fill out this form to add a recipe"/>
</head>

<body>
<h1>Ingredient Form</h1>
<form action="#" th:action="@{/ingredient}" th:object="${ingredient}" method="post">
    Name of Ingredient:
    <input type="text" th:field="*{name}" />
    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Your ingredient needs a name</p>
    Amount of Ingredient:
    <input type="number" th:field="*{amount}"/>
    Type of amount:
    <input type="text" th:field="*{typeOfAmount}"/>
    <button type="submit">Submit</button>
</form>
</body>
</html>