<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8"/>

    <title>Recipe Form</title>
    <meta name="description" content="Fill out this form to add a recipe"/>
</head>

<body>
<h1>Recipe Form</h1>
<form>
    Name of Recipe:
    <input type="text" name="recipeName"/>
    Type of Cusine:
    <input type="text" name="cuisine"/>
    Name of Ingredient:
    <input type="text" name="name"/>
    Amount of Ingredient:
    <input type="number" name="amount"/>
    Type of amount:
    <input type="text" name="typeOfAmount"/>
</form>
</body>
</html>